{% extends 'main/base.html' %}
{% block title%} My favorites list{% endblock %}
{% load static %}
{% block content %}
    <section class="container my-5 text-center ">
        {% if request.user == user %}
            <h1 class="mb-4">My favorites list</h1>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        
                {%  for bookmark in request.user.bookmark_set.all %}
                <div class="col">
                    <div class="card shadow-sm h-100">
                        
                        <div class="card-body">
                            <div class="card-img">
                                <img src="{{bookmark.dress.image.url}}" class="w-50">
                            </div>
                            <h5 class="card-title">{{bookmark.dress.name}}</h5>
                            <div class="d-flex justify-content-between">
                                <a href="{% url 'dresses:dress_detail' bookmark.dress.id %}" class="btn btn-sm btn-dark">More details </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                  <p class="text-center mt-4">There are no dresses on your favorites list</p>
                {% endfor %}

        {% endif %}
    </section >
{% endblock %}