{% extends 'main/base.html'%}
{% block title %} My adress {% endblock %}
{% load static %}

{% block content %}
    <section class="container my-5 justify-content-center">
        <h1 class="mb-4">My adress</h1>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">

            <div class="col">
                <div class="card shadow-sm h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{adress.city}}</h5>
                        <p class="card-text">{{adress.neighborhood}}</p>
                        <p class="card-text">{{adress.postcode}}</p>
                        <p class="card-text">{{adress.comments}}</p>
                        <div class="d-flex justify-content-between">
                            <a href="#" class="btn btn-sm btn-dark">Update</a>
                            <a href="#" class="btn btn-sm btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

{% endblock %}