{% extends 'main/base.html'%}
{% block title %} Create shipment {% endblock %}
{% load static %}

{% block content %}
<div class="container d-flex flex-column justify-content-center align-items-center py-5">
    <h2 class="mb-4">Create shipment</h2>
    <form class="w-50 d-flex flex-column gap-3" action="{% url 'shipping:create_shipment' rental.id  %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="shipping_company">Shipping company</label>
        <input class="form-control" type="text" name="shipping_company" id="shipping_company"  required>
        <label for="pickup_information">Pickup information</label>
        <input class="form-control" type="text" name="pickup_information" id="pickup_information"  required>
        <label for="expected_delivery_date">Expected delivery date</label>
        <input class="form-control" type="date" name="expected_delivery_date" id="expected_delivery_date"  required>

        <label for="tracking_url">Tracking URL (optional)</label> <!-- ✅ السطر الجديد -->
        <input class="form-control" type="url" name="tracking_url" id="tracking_url">
        <button type="submit" class="btn btn-dark">Create shipment</button>
    </form>
</div>
{% endblock %} 